body{
    background-color: #AAC4FF;

}

hr{
  background-color: #EEE3CB;
  border-style: none;
  border-top-style:dashed solid;
  width: 100%;
  height: 5px;
}

img{

height:100px
}

H1{
  color:#A77979;
  text-shadow: 1px 1px 2px #A77979;
}

H3{
  color:#967E76;
  text-shadow: 1px 1px 2px #967E76;
}
p{
  color:#0F3460;
  text-shadow: 1px 1px 1px #0F3460;
}
tr{
  color:#0F3460;
  text-shadow: 1px 1px 1px #0F3460;
}

a{
  color:#E94560;
  text-shadow:1px 1px 2px #E94560;
}
